.client-container {
  display: flex;
  min-height: 100vh;
  overflow: hidden; 
}

app-client-sidebar {
  width: 250px;
  height: 100vh; 
  position: sticky; 
  top: 0;
  left: 0;
  overflow-y: auto;
  flex-shrink: 0;
}

.main-content {
  flex: 1;
  background: #f4f6f9;
  overflow-y: auto;
  height: 100vh;
}